@tailwind base;

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  a {
    @apply cursor-pointer;
  }
}

@tailwind components;

@tailwind utilities;
@font-face{
  font-family: 'light';
  src:url('./asset/font/NotoSansKR-Light.ttf')
}

@font-face{
  font-family: 'regular';
  src:url('./asset/font/NotoSansKR-Regular.ttf')
}

@font-face{
  font-family: 'medium';
  src:url('./asset/font/NotoSansKR-Medium.ttf')
}

@font-face{
  font-family: 'semiBold';
  src:url('./asset/font/NotoSansKR-SemiBold.ttf')
}

@font-face{
  font-family: 'bold';
  src:url('./asset/font/NotoSansKR-Bold.ttf')
}

@font-face{
  font-family: 'extraBold';
  src:url('./asset/font/NotoSansKR-ExtraBold.ttf')
}

body{
  font-family: 'medium';
}
.primary-btn {
  @apply rounded-md bg-primary text-white;
}
.signup-input{
  @apply border-gray-400 border p-2 rounded-md;
}


.selected-day{
  @apply font-semiBold
}
.gray-day{
  @apply text-gray-400
}
.react-datepicker__header {
  @apply bg-white
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__input-container input {

  @apply w-full;
  @apply h-full;
}