@tailwind base;

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  a {
    @apply cursor-pointer;
  }
}

@tailwind components;

@tailwind utilities;
@font-face{
  font-family: 'light';
  src:url('./asset/font/NotoSansKR-Light.ttf')
}

@font-face{
  font-family: 'regular';
  src:url('./asset/font/NotoSansKR-Regular.ttf')
}

@font-face{
  font-family: 'medium';
  src:url('./asset/font/NotoSansKR-Medium.ttf')
}

@font-face{
  font-family: 'semiBold';
  src:url('./asset/font/NotoSansKR-SemiBold.ttf')
}

@font-face{
  font-family: 'bold';
  src:url('./asset/font/NotoSansKR-Bold.ttf')
}

@font-face{
  font-family: 'extraBold';
  src:url('./asset/font/NotoSansKR-ExtraBold.ttf')
}

body{
  font-family: 'medium';
  overflow-x: hidden;
}
.primary-btn {
  @apply rounded-md bg-primary text-white;
}
.disable-btn {
  @apply rounded-md bg-gray-600 text-white;
}
.signup-input{
  @apply border-gray-400 border p-2 rounded-md;
}


.selected-day{
  @apply font-semiBold
}
.gray-day{
  @apply text-gray-400
}
.react-datepicker__header {
  @apply bg-white
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__input-container input {

  @apply w-full;
  @apply h-full;
}



/* 로그인창 애니메이션 */
#greenbox{
  z-index: 10;
  position: absolute;
  transition: all 0.3s ease-in-out;
  
  @apply w-[50vw];
  @apply h-full;
  
  @apply bg-mainDark;
  
}
.animate__animated.animate__fadeInRight, .animate__animated.animate__fadeInLeft {
  --animate-duration: 0.5s;
}

.show-login{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}
.show-signup{
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);}


  /* 리액트 모달 자꾸 깔려서 만든 css */
.ReactModal__Overlay{
  z-index: 60;
}

/* 리액트 훅 폼 에러메세지 */
.errorMessage{
  @apply 
  text-sm
  text-red-600
  font-regular
}

/* 크로퍼 둥글게 */
.cropper-crop-box, .cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}


/* 스크롤바 전체 기본 꾸미기 */
::-webkit-scrollbar {
  width: 10px;  /* 세로축 스크롤바 폭 너비 */
  height: 20px;  /* 가로축 스크롤바 폭 너비 */
}

/* 스크롤바 막대 꾸미기 */
::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
  @apply border-mainDark;
  border-radius: 12px 12px 12px 12px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  @apply bg-gray-300
}